/* Put your CSS here */

/*Fonts*/

@font-face {
  font-family: Otago;
  src: url(/fonts/otago.otf);
}


/*Universal style*/

html, body {
  margin: 1% 5% 1% 5%;
  background-color: White;
  color: Black;
  font-family: sans;
}

main {
  clear: both;
  padding:20px;
}


header {
  float: left;
}

p {
 /* color: Tan;*/
}

a {
  color: inherit;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  text-decoration: none;
}

nav a, h2 a, nav a:hover, h2 a:hover, a.poster {
  border: 0;
}

a:hover {
  color: Yellow;
}

label {
  display: block;
}

/*Universal Elements*/




h1, h2, h3, h4, h5 {
  color: #79ABED;
}

h1 {
 font-family: Otago;
  font-size: 3em;
 /* text-shadow: 5px 5px 5px Black;*/
}



nav {
  display: inline-block;
  padding: 2px;
  color: White;
  background-color: #79ABED;
  border-radius: 5px;
  padding-left: 40px;
}

nav li {
  float: left;
  list-style-type: none;
  margin-left: 7px;
  margin-right: 7px;
}

nav li a {
  padding: 4px;
  text-decoration: none;
  font-family: Otago;
  color: White;
}

nav li a.active {
  color: White;
}

div.meta {
  background-color: #79ABED;
  margin-top: -40px;
  min-height: 800px;
  border-radius: 20px;
  border-color: Black;
}


div.meta h2, div.meta h3 {
  color: White;
  font-family: Otago;
  text-shadow: none;
}

/*Main page turn on!*/


div.meta.main::before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: Black;
}

div.meta.main .twitter-timeline {
  margin: 30px auto;
  width: 70%;
  display: block;
}



h2.list-label {

  font-family: Otago;
  text-align: right;
  float: left;
  clear: both;
  width: 150px;
  size: .5em;
  margin-left: -95px;
  margin-right: 20px;
  padding-top: 45px;
}

h3.venue {
  font-family: Otago;
}

ul.poster-list {
  background-color: #bbb;
  box-shadow: 0 0 25px Black inset;
  border-radius: 3px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

ul.poster-list::after {
  height: 150px;
  width: 75px;
  background: -moz-linear-gradient(left, rgba(109,21,21,0) 0%, rgba(161,90,90,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(109,21,21,0)), color-stop(100%,rgba(161,90,90,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(109,21,21,0) 0%,rgba(161,90,90,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(109,21,21,0) 0%,rgba(161,90,90,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(109,21,21,0) 0%,rgba(161,90,90,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(109,21,21,0) 0%,rgba(161,90,90,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006d1515', endColorstr='#a15a5a',GradientType=1 ); /* IE6-9 */

}


ul.poster-list li.screening {
  display: inline-block;
  background-color: transparent;
  margin: 10px 10px 5px 10px;
  list-style-type: none;
  border: transparent solid 10px;
  border-top-width: 35px;
  text-align: center;
  font-size: .75em;
  min-width: 100px;
}


ul.poster-list li.screening a:hover {
  color: Yellow;
}


ul.poster-list li.screening h3.venue {
  color: White;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: -32px;
  margin-bottom: 5px;
}


ul.poster-list li.screening img.poster.main_page {
  display: inline-block;
  height: 150px;
  width: auto;
  margin: auto;
  padding: 0;
  float: none;
}


ul.poster-list li.screening span.datetime {
  display: block;
  color: White;
  clear: both;
}

ul.poster-list li.screening span.datetime:only-of-type {
  margin-top: 1.4em;
}




/*Text-only pages*/

main article {
  margin-left: 15%;
  margin-right: 15%;
}


/*All screenings*/

table {
  width: 75%;
  margin: auto;
}

th, td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

th p, td p {
  margin-top: 5px;
}


th p a p, td p a p {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  display: inline;
}

tr a {
  color: Black;
  border-color: Black;
}

th a:hover, td a:hover {
  color: Yellow;
  border-color: Yellow;
}

tr:nth-child(even) {
  background-color: #79ABED;
  color: Black;
}



tr.screening td.screening p.screening a.screening span.movie {
  display: inline-block;
  margin-bottom: 10px;
  float: left;
  clear: left;
}


/* Screening Index */

span.title:not(:last-of-type)::after {
  content: ", ";
}


span.title:nth-last-of-type(2)::after{
  content: " & ";
}


div.movie-details {
  overflow-y: auto;
}

img.poster {
  width: 200px;
  margin-right:10px;
  float: left;
}

section.movie {
  padding: 10px;
  clear:both;
}

section.movie p {
  margin: 0 0 10px 0;
}

p.director {
  font-weight: bold;
}

p.director::before {
  content: "dir. "
}

div.meta p{
  color: Black;
}


/*Screening Add*/

button {
  margin-top: 10px;
}

input, select, textarea {
  margin-left: 5px;
}

div.inner-form {
  margin-left: 20px;
}

span.add, span.duplicate {
  padding-left: 5px;
  font-size: small;
  font-style: italic;
  cursor: pointer;
}

footer {
  padding: 20px;
  clear: both;
}

footer a.issue {
  float: right;
}
